<div class="container">
    <h3>BTZ Transports</h3>
</div>

<hr />

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">


                    <form [formGroup]="form">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3 row">
                            <label class="col-md-4 col-form-label text-md-right">E-mail</label>
                            <div class="col-md-6">
                                <input class="form-control"
                                       formControlName="username"
                                       [ngClass]="{ 'is-invalid': (!form.controls.username.valid && !form.controls.username.pristine) }"
                                       placeholder="usuario@email.com" />
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-md-4 col-form-label text-md-right">Senha</label>
                            <div class="col-md-6">
                                <input class="form-control"
                                       formControlName="password"
                                       [ngClass]="{ 'is-invalid': (!form.controls.password.valid && !form.controls.password.pristine) }"
                                       placeholder="********" />
                            </div>
                        </div>

                        <div class="row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
