<app-header-default></app-header-default>

<app-navbar></app-navbar>

<div class="container mt-3">

    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/app/motoristas']">Motoristas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastro</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            Cadastrar Motorista
        </div>
        <div class="card-body">

            <form [formGroup]="form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3 row">

                    <div class="col-md-6">
                        <label class="col-form-label">Nome</label>
                        <input class="form-control"
                               formControlName="name"
                               [ngClass]="{ 'is-invalid': (!form.controls.name.valid && !form.controls.name.pristine) }"
                               placeholder="Nome Completo" />

                    </div>

                    <div class="col-md-3">
                        <label class="col-form-label">CPF</label>
                        <input class="form-control"
                               formControlName="documentNumber"
                               mask="###.###.###-##"
                               [ngClass]="{ 'is-invalid': (!form.controls.documentNumber.valid && !form.controls.documentNumber.pristine) }"
                               placeholder="999.999.999-99" />

                    </div>

                    <div class="col-md-3">
                        <label class="col-form-label">Data de Nascimento</label>
                        <input class="form-control"
                               formControlName="dateOfBirth"
                               mask="####-##-##"
                               [ngClass]="{ 'is-invalid': (!form.controls.dateOfBirth.valid && !form.controls.dateOfBirth.pristine) }"
                               placeholder="YYYY-mm-DD" />

                    </div>
                </div>

                <div class="mb-3 row">

                    <div class="col-md-3">
                        <label class="col-form-label">CNH</label>
                        <input class="form-control"
                               formControlName="licenseNumber"
                               mask="###.###.###-##"
                               [ngClass]="{ 'is-invalid': (!form.controls.licenseNumber.valid && !form.controls.licenseNumber.pristine) }"
                               placeholder="999.999.999-99" />

                    </div>


                    <div class="col-md-6">
                        <label class="col-form-label">Categoria CHN</label>
                        <select class="form-control"
                                formControlName="licenseCategory">
                            <option value=""></option>
                            <option value="1">ACC</option>
                            <option value="2">A</option>
                            <option value="3">B</option>
                            <option value="4">C</option>
                            <option value="5">D</option>
                            <option value="6">E</option>
                            }
                        </select>

                    </div>


                    <div class="col-md-3">
                        <label class="col-form-label">Status</label>
                        <select class="form-control"
                                formControlName="status">
                            <option value="true">Ativo</option>
                            <option value="false">Inativo</option>
                            }
                        </select>

                    </div>
                </div>

                <hr />

                <div class="mb-3 row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="edit()">Editar</button>
                        <button type="button" class="btn btn-warning" [routerLink]="['/app/motoristas']">Cancelar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
